* {
    margin: 0;
    padding: 0;
}

*:hover, *:active, *:focus {
    outline: none !important;
}

html, body {
    height: 100%;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    float: none;
}

label {display:block;}

/* secretKeyPartEncoded eW91IGFyZSB0aGUg */
.wrap {
    min-height:100%;
    padding:30px 15px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.task {
    text-align: center;
    padding: 30px 15px;
    border: 1px solid #999;
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}

.linkChallenge {
    padding: 5px 5px;
}